<!-- Copyright (c) Microsoft Corporation.
Licensed under the MIT license. -->

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Power BI Embedded sample</title>
    <link rel="stylesheet" href="lib/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="css/index.css">
</head>

<body>
    <header >
        <p>
            Power BI Embedded Sample
        </p>
    </header>
    <main class="row">
         <div class="w-100 h-100">
        <section id="report-container" style="width:900px; height:700px; margin:auto;  justify-content:center; margin-left:23px" >
        </section>
          </div>

        <div class="mx-auto" ><a href="http://desktop-5esg0v0/Reports/report/Ventas/Sales%20Orders/">  
               Click here to obtain SSRS Report </a> 
        </div>
        <section class="error-container m-5">
        </section>
    </main>
    <script src="lib/jquery/dist/jquery.min.js"></script>
    <script src="lib/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="lib/powerbi-client/dist/powerbi.min.js"></script>
    <script src="js/index.js"></script>
</body>
</html>